.to-do-header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-columns: auto;
	grid-template-rows: repeat(3, auto);
	gap: 2em;
	margin-bottom: 1em;
	width: 100%;
	min-width: 0;
	min-height: 0;

	&__heading {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		font-size: 4rem;
		text-align: center;
		text-transform: uppercase;
		color: transparent;
		text-shadow: 0 0 1px 5px #000;
		background: rgb(37, 42, 133);
		background: linear-gradient(
			90deg,
			rgba(37, 42, 133, 1) 10%,
			rgba(23, 23, 165, 1) 30%,
			rgba(16, 42, 171, 1) 50%,
			rgba(57, 11, 175, 1) 80%
		);
		background-clip: text;
	}

	&__input,
	&__add-button {
		grid-row: 2 / 3;
		padding: 0.5em 0.8em;
		font-size: 1.5rem;
		background: transparent;
		border: 1px solid transparent;
		border-radius: 5px;
		outline: none;
		box-shadow: 0px 1px 5px 1px #1d1c1c;
		transition: border 0.3s, box-shadow 0.3s;

		&:hover,
		&:focus {
			box-shadow: 0px 1px 5px 1px #192bc2;
			border: 1px solid #002366;
		}
	}

	&__input {
		grid-column: 1 / 3;
	}

	&__add-button {
		grid-column: 3 / -1;
		text-transform: uppercase;
		color: #1d1c1c;
		width: 100%;
		max-width: 130px;
		justify-self: end;
		cursor: pointer;
	}

	&__error {
		opacity: 0;
		grid-column: 1 / -1;
		grid-row: 3 / 4;
		font-size: 1.4rem;
		font-weight: bold;
		color: #8d0101;
		visibility: hidden;
		transition: opacity 0.3s;

		&--active {
			opacity: 1;
		}

		&--active-visibility {
			visibility: visible;
		}
	}

	&__error-icon {
		font-size: 1.6rem;
	}
}

@media (min-width: 992px) {
	.to-do-header {
		gap: 2.5em 0;

		&__heading {
			font-size: 5rem;
		}
	}
}
