.to-do {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 2em 1.5em;
	width: clamp(200px, 100%, 300px);
	border-radius: 8px;
	box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.5);

	&--inactive {
		z-index: -1;
	}
}

@media (min-width: 576px) {
	.to-do {
		padding: 3em;
		width: clamp(200px, 100%, 650px);
	}
}

@media (min-width: 992px) {
	.to-do {
		padding: 3em 5em;
	}
}
